$RECYCLE.BIN
*.log$
*.sublime-project
*.sublime-workspace
*.tmp
*.tmp.*
.DS_Store
.awcache
.cache
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.idea
.sass-cache
.versions
.vscode
Thumbs.db
bower_components
build
coverage
dist
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
~$*.*
.rpt2_cache**
