language: node_js
cache:
  directories:
    - node_modules
node_js:
  - '12'

jobs:
  include:
    - stage: build
      script: npm run build
    - stage: test
      script:
        - npm run coverage
        - npm run coveralls
    - stage: release
      node_js: lts/*
      deploy:
        provider: script
        skip_cleanup: true
        script:
          - npm run build
          - npx semantic-release
