language: node_js
cache:
  directories:
    - node_modules
node_js:
  - 10
  - 11
before_script:
  - git config --global core.autocrlf false
  - git config --global user.email "your@gmail.com"
  - git config --global user.name "your name"
script: npm link && tslib init my-lib && cd my-lib && tslib build && tslib coverage && tslib setup
